*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}
.container{
    width: 100%;
    height: 200%;
    background-color:#ccccb3;
    border:10px,#1a0000, solid;
}
.header{
    margin-top: 0px;
    display:flex;
    font-weight: bold;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.content{
    width:900px;
    margin:0 auto;
}
.image{
    border-radius:50%;
}
.image,img{
    width: 150px;
    height: 200px;
    border-radius: 80%;
    } 
.main{
    flex-wrap: wrap;
}
.about{
    margin-top:0px;
    font-size: larger;
    }
.research{
    margin-top:10px;
    font-size: larger;
    }
     